<div id="<%= dom_id recipe %>">
  <div class="name_and_destroy">
    <h2>
      <%= link_to recipe.name, recipe %>
    </h2>
    <%= button_to "Destroy this recipe", @recipe, method: :delete %>
  </div>
  <p>
    <%= recipe.description %>
  </p>

</div>
