<p style="color: green"><%= notice %></p>

<div class="sub-header">
  <h1>Foods</h1>
  <%= link_to "Add Food", new_food_path %>
</div>


<div id="foods">
  <table class="foods-table">
    <thead>
	    <tr>
	    	<th>Food</th>
	    	<th>Measurement unit</th>
	    	<th>Unit price</th>
	    	<th>Actions</th>
	    </tr>
	  </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr class="odd">
          <%= render food %>
        </tr>
        <%# <p> %>
          <%# <%= link_to "Show this food", food %>
        <%# </p> %>
      <% end %>
	  </tbody>
  </table>
</div>
